<!-- <div class="col-md-6">
  <h2 class="text-center">Add Order</h2>
<form>
  <div class="form-group">
    <label for="dishId">DishId:</label>
    <input type="text" [(ngModel)]="order.dishId" placeholder="Dish Id" name="dishId" class="form-control" id="dishId">
  </div>
  <div class="form-group">
    <label for="quantity">Quantity:</label>
    <input type="text" [(ngModel)]="order.quantity" placeholder="Quantity" name="quantity" class="form-control" id="quantity">
  </div>

  <div class="form-group">
    <label for="userId">UserId:</label>
    <input [(ngModel)]="order.userId" placeholder="User Id" name="userId" class="form-control" id="userId">
  </div>

  <div class="form-group">
    <label for="isActive">Active:</label>
    <input [(ngModel)]="order.isActive" placeholder="Active" name="isActive" class="form-control" id="isActive">
  </div>
  <div class="form-group">
    <label for="lastModifiedDate">lastModifiedDate:</label>
    <input [(ngModel)]="order.lastModifiedDate" placeholder="lastModifiedDate" name="lastModifiedDate" class="form-control" id="lastModifiedDate">
  </div>
  <button class="btn btn-success" (click)="openModalWithComponent()">Create</button>
</form>
</div>
 -->