<header>
        <nav>
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </button>
                    <a class="navbar-brand brand" href="index.html">
                        <strong>Hot Spice</strong>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="defaultNavbar1">
                    <ul class="headerLinks">
                        <li class="active">
                            <a href="/orders">
                                <strong>Orders</strong>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="/categories">
                                <strong>Categories</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <strong>About us</strong>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <strong>Contact</strong>
                            </a>
                        </li>
                    </ul>
                    <ul class="headerLinks2">
                         <li>
                            <a href="/login">
                                <strong>Login</strong>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="/register">
                                <strong>Register</strong>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
<!-- main app container -->
<div class="jumbotron products">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer>
	<div class="container">
	    <div>
	        <ul class="footerLinks">
	            <li>
	                <a href="#">About</a>
	            </li>
	            <li>
	                <a href="#">©Hot Spice</a>
	            </li>
	            <li>
	                <a href="#">Legal</a>
	            </li>
	            <li>
	                <a href="#">Privacy Statement</a>
	            </li>
	        </ul>
	    </div>
	    <div class="copyright">
	        <p>Copyright © 2018 surothiya.prageet@gmail.com. All Rights Reserved</p>
	    </div>
	</div>
</footer>